{% extends 'page.html' %}

{% block conteudo %}
    <div class="container mt-4">
        <h2 class="text-center">
            {{ form_titulo }}
        </h2>
        <div class="container-fluid mt-4 ">
            <div class="row justify-content-center">
                <div class="col col-md-6 ">
                    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-end mb-4">

                            <a href="{{ view.success_url }}" class="btn btn-
secondary ">Voltar</a>

                            <input class="btn btn-success" style="margin-left: 5px" type="submit" value="Enviar">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}